<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Author's Page</title>
  </head>
  <body>
    <h1> {{ newReview.id }} </h1>
     {{ newReview.author }}

     <a href="/"><button type="button" name="button">Home</button></a>
  </body>
</html>
