<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Author's Page</title>
  </head>
  <body>
    <h1> {{author.id}} </h1>
      <p><span>{{restaurant.review}}</span><br>
     Must Eats: <span>{{restaurant.must_eats}}</span><br>
     Price Range:<span>{{restaurant.price_range}}</span> </p>

     <a href="/"><button type="button" name="button">Home</button></a>
  </body>
</html>
