<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Restaurant Review</title>
  </head>
  <body>
    <h1> {{restaurant.name}} </h1>
      <p> Neighborhood: <span>{{restaurant.neighborhood}}</span><br>
     Must Eats: <span>{{restaurant.must_eats}}</span><br>
     Price Range:<span>{{restaurant.price_range}}</span> </p>
     <br>
     <a href="/"><button type="button" name="button">Home</button></a>
     <div class= 'reviews'>
       <form action="#" method='post'>
         <label for='type'>Leave a Review</label>
         <input type='text' name='review'>

       <a href="/"><button type="button" name="button">Home</button></a>
       </form>

     </div>
  </body>
</html>
